
body {
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(waves.jpg);
  color: white
}


h1 {
  font-size: 40pt;
}

nav {
  padding: 10px 15px 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration:none;
  color: white;
  font-size: 25pt;
  padding: 15px 15px 15px;
}

/*taken from source code of slack.com*/
#sign-in {
  padding: 8px 0px 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}

#menu li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  list-style-type: none;
  align-items: flex-end;
}

.content{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.bottom-list {
  background-color: transparent;
  border-top: 1px solid rgba(255,255,255,.2);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 60px;
}

.bottom-list ul{
  list-style-type: none;
}

#light-li {
  color: rgba(255,255,255,.6);
}

.textbox {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.textbox :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.textbox :last-child{
  text-align: center;
}

#citation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 300px;
  font-size: 10pt;
  padding-bottom: 100px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.4;
}
button {
  background-color: #a5d88f;
  border: none;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
  outline: none;
}

button:active {
  background: #599041;
}

button:hover {
  background-color: #70dd41;
}

footer {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
footer a {
  text-decoration:none;
  color: white;
  font-size: 20pt;
  padding: 0px 0px 10px 20px;
}

@media only screen and (max-width: 640px) {
  flex-direction: column;
}
