body{
    font-family: 'Hind Madurai', sans-serif;
    background-color: #99CCFF;
    margin: 0;
    padding: 0;
}

.cover {
  background-image: url(NewYork.jpg);
  background-size: cover;
}

/*h1{
  color: red;
  text-align: center;
  font-size: 60px;
  animation-name: name_head;
  animation-duration: 2s;
}*/

/*Found out how to center from above sources*/
/*IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}*/

/*Found out how to animate from above sources*/
/*@keyframes name_head {
    from {color: green; font-size: 1px;}
    to {color: red; font-size: 60px;}
}*/
/*ul {
    list-style-type: none;
}
